.imageSize {
    height:280px;
    width: 100%;
    object-fit: cover;
}

.card {
    max-width: 600px;
} 
.card-title {
    padding: 1rem; 
    display:inline-block; 
    position:flex;
}

.left{
    float:left;
}  
.spanRight {
    float: right; 
    color: gray; 
    font-size: 0.9rem;
}

.likes {
    padding-left: 1rem;
}

.cardBox {
    background-color: lightgray;
}